@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Outfit;
}

html {
  scroll-behavior: smooth;
}

@keyframes growBar {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

.animate-grow-bar {
  animation: growBar 1s ease forwards;
  transform-origin: left;
}

/* Modo claro */
body {
  @apply bg-white text-textLight font-Outfit;
}

/* Modo oscuro */
.dark body {
  @apply bg-primary text-textDark font-Outfit;
}

/* Componentes */
.component {
  @apply p-6 rounded-lg transition-all duration-300;
}

.component-light {
  @apply bg-white bg-opacity-90 shadow-soft;
}

.component-dark {
  @apply bg-secondary bg-opacity-80 backdrop-blur-md shadow-neon;
}
